# Flutter specific files
.vscode/
.idea/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
/flutter_settings.gradle
/.gradle/
/build/
/android/app/build/
/ios/Pods/
*.lock
*.apk
*.ap_
/.DS_Store

# Firebase subdirectory specific files
/backend/.firebase/
/backend/.firebaserc
/backend/.env

# Firebase functions node_modules
/backend/functions/node_modules/

# Firebase scripts node_modules
/backend/scripts/node_modules/

# Firebase scripts keys
/backend/scripts/keys/

# Firebase scripts playground
/backend/scripts/playground/

# Miscellaneous
.DS_Store
