<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>534633074686-nhn6puhk8o3aa9t5fv6ucpq946q7hhc6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534633074686-nhn6puhk8o3aa9t5fv6ucpq946q7hhc6</string>
	<key>API_KEY</key>
	<string>AIzaSyC2ABCt_uX1w_RjDwgkkAMB8K6Lny_sY-E</string>
	<key>GCM_SENDER_ID</key>
	<string>534633074686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frontend</string>
	<key>PROJECT_ID</key>
	<string>fitnessapp-9dd39</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnessapp-9dd39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534633074686:ios:2d4fa87c191c6908317aaf</string>
	<key>DATABASE_URL</key>
	<string>https://fitnessapp-9dd39-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>